.loader {
    width: 24px;
    aspect-ratio: .75;
    --color: no-repeat linear-gradient(#000 0 0);
    background:
            var(--color) 0%   50%,
            var(--color) 50%  50%,
            var(--color) 100% 50%;
    background-size: 20% 50%;
    animation: l6 1s infinite linear;
}
@keyframes l6 {
    20% {background-position: 0% 0%  ,50% 50% ,100% 50% }
    40% {background-position: 0% 100%,50% 0%  ,100% 50% }
    60% {background-position: 0% 50% ,50% 100%,100% 0%  }
    80% {background-position: 0% 50% ,50% 50% ,100% 100%}
}